<meta charset="UTF-8">
<style type="text/css">
/* Toolbar */
._customer-toolbar {
    width: 100%;
    background: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    font: 16px Arial, sans-serif;
    color: #fff;
    white-space: nowrap;
}
._customer-toolbar__cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1227px;
    margin: 0 auto;
}
._customer-toolbar__logo {
    width: 215px;
    height: 57px;
}
._customer-toolbar__logo a {
    display: block;
}
._customer-toolbar ul {
    display: flex;
    padding: 0;
    list-style: none !important;
    margin: 0 !important;
}
._customer-toolbar__list a {
    display: flex;
    align-items: center;
    height: 55px;
    color: inherit !important;
    text-decoration: none;
    margin: 0 10px;
}
._customer-toolbar {
    margin: 0;
}
._customer-toolbar__list a:hover {
    text-decoration: underline;
}
._customer-toolbar__item {
}
._customer-toolbar__contact {
    box-sizing: border-box;
    padding-left: 25px;
    position: relative;
}
._customer-toolbar__contact:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
}
._customer-toolbar__contact_phone:before {
    background-image: url('img/toolbar/phone.png');
}
._customer-toolbar__contact_mail:before {
    background-image: url('img/toolbar/mail.png');
}
._customer-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    min-width: 170px;
    height: 28px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0 !important;
    border: 2px solid #FBBF00;
    border-radius: 28px;
}
._customer-search .sf-input-wrapper {
    width: 100%;
    height: 100%;
}
._customer-search input {
    width: 100%;
    height: 100% !important;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 40px 0 10px !important;
    background-color: #fff;
    font: 12px Arial, sans-serif !important;
    color: #000000;
}
._customer-search button {
    width: 24px !important;
    height: 24px !important;
    background: #ffffff !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    outline:none !important;
    opacity: 1 !important;
}
._customer-search button:before {
    width: 24px !important;
    height: 24px !important;
    content: url('img/toolbar/search.png') !important;
    position: absolute;
    top: 5px;
    right: 2px;
}
@media (max-width: 1110px) {
    ._customer-toolbar a {
        margin: 0 5px;
    }
    ._customer-toolbar {
        font-size: 14px;
    }
    ._customer-toolbar__logo {
        width: 80%;
    }
}
/* end Toolbar */
</style>
<!-- Toolbar -->
<div class="_customer-toolbar">
    <div class="_customer-toolbar__cont">
        <div class="_customer-toolbar__logo">
            <a href="http://www.safecraft.ru/" title="На главную"><img src="img/toolbar/logo.png" alt="Логотип"></a>
        </div>
        <ul class="_customer-toolbar__list">
            <li class="_customer-toolbar__item"><a href="/about">О компании</a></li>
            <li class="_customer-toolbar__item"><a href="/catalog">Ассортимент</a></li>
            <li class="_customer-toolbar__item"><a href="/contacts">Контакты</a></li>
        </ul>
        <form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.safecraft.ru/catalog"
              class="_customer-search search-form with-search-icon" method="get" onsubmit="formSubmitter.disableButtons(this, null, null);">
            <div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
            <div class="sf-input-wrapper">
                <input class="sf-input js-reset-field" id="q2" maxlenght="255" name="q"
                       placeholder="Поиск" type="text" />
            </div>
            <button class="custom-button" name="commit" type="submit" value="Поиск"></button>
        </form>
        <ul class="_customer-toolbar__list">
            <li>
                <a class="_customer-toolbar__contact _customer-toolbar__contact_phone" href="tel:+79181582284"
                   onclick="yaCounter49335268.reachGoal('megasite_toolbar_email'); return true;">+7 (918) 158-22-84</a>
            </li>
            <li>
                <a class="_customer-toolbar__contact _customer-toolbar__contact_mail" href="mailto:mr.safecraft@mail.ru"
                   onclick="yaCounter49335268.reachGoal('megasite_toolbar_tel'); return true;">mr.safecraft@mail.ru</a>
            </li>
        </ul>
    </div>
</div>
<!-- end Toolbar -->